.flex {
    display: inline-block;
    float: left;
    border: solid red 1px;
}

.rightmost {
    display: inline-block;
    float: right;
}

#cons {
    font-family: monospace;
    color: #363636;
    overflow-wrap: break-word;
}

.pane {
    display: inline-block;
    float: left;
    overflow: scroll;
    height: 100%;
}

.layout {
    display: block;
    float: none;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.layout:after {
    display: block;
    clear: both;
    content: '';
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

#info {
    padding-left: 1em;
}

.pa {
    color: darkgray;
}

#known {
    padding-left: 2em;
}

.bigcontrol {
    width: 13%;
    background-color: lime;
    color: white;
    height: 1.5em;
}

button input {
    display: inline-block;
    padding: 0;
    margin: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;

}

#top {
    padding-top: 0.5em;
}

#bottom {
    padding-bottom: 0.5em;
}

#main {
    height: 20em;
}

.clickable {
    text-decoration: none;
    color: inherit;
}

.con-header {
    background-color: lightgray;
}

.error {
    color: red;
}

.success {
    color: green;
}
