

header, #teletype, #prompt {
    padding: 0 .5em;
}

footer::first-letter {
    padding: 0pt 1pt;
}

header {
    grid-area: header;
}







#runstop-btn {
    flex: 0 auto;
    font-family: monospace;
    font-size: 120%;
    line-height: 80%;
    height: 100%;
    width: 2em;
    padding: 0;
}

#runstop-btn::before {
    display: inline-block;
    vertical-align: 20%;

    content: '\25B6\FE0E';
    color: darkGreen;
}

#runstop-btn.running::before {
    content: '\25A0\FE0E';
    color: darkRed;
}

p.caption {
    font-weight: bold;
    margin: 0;
}



.history-item {
    margin: 0.2em;
}

.history-item:hover {
    background: #F3F3F3;
    cursor: pointer;
}