/* ski-specific */

@import url("https://cdn.jsdelivr.net/gh/vsalvino/computer-modern@main/fonts/serif.css");

.term-list {
    margin: .5ex;
    font-size: .8rem;
}

.term-list dt, dd {
    margin: 0;
    display: inline;
    font-family: monospace;
}
.term-list dd::before {
    content: ' ';
    font-family: monospace;
}
.term-list dt {
    font-weight: bold;
}
.term-list dd.note {
    font-family: inherit;
    font-style: italic;
}

.term-list dd i {
    font-family: "Computer Modern Serif", serif;
    font-size: 1rem;
    line-height: 0;
}

.term-list a.term-def[href] {
    color: inherit;
    text-decoration: inherit;
}

.term-list a.term-def[href]:hover {
    outline: auto rgba(0, 150, 255, 1);
    outline-offset: 1px;
}

.hint {
    cursor: pointer;
}

/* teletype */

#teletype {
    font-family: monospace;
    color: #363636;
    overflow-wrap: break-word;
}

.line-number {
    color: #999;
    padding-right: 1em;
    text-align: right;
    display: inline-block;
    width: 2em;
}

.con-permalink {
    padding-right: 1em;
}

.con-header {
    background-color: lightgray;
}

        #teletype > div {
            border: 1px dotted #C8C8C8 !important;
            padding: 1px;
            margin-top: .5em;
        }
        #teletype > div ~ div {
            margin-top: -1px;
        }

        tt.icon-run {
            color: darkGreen;
            padding: 0 calc(1ch - 1.5px) 2px calc(1ch + .5px);
            margin-left: -3.5px;
            margin-right: -2px;
            vertical-align: .5px;
            border-radius: 3px;
            outline: 1px solid lightblue;
            outline-offset: -1.5px;
        }

     code {
            background: #848E981D;
            padding: 0 1px;
            margin: 0 -1px;
            border-radius: .5ex;
            line-height: calc(1lh + .5px);
        }

/* hamburger menu */

.hamburger-button {
    display: inline-block;
}
.hamburger-button:hover {
    cursor: pointer;
}

ul.hamburger {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

ul.hamburger-right {
    right: 1px;
}

.hamburger li {
    display: block;
    padding: 0.3em;
}

.hamburger li a {
    text-decoration: none;
    color: black;
}

.hamburger li a.hamburger-choice {
    display: inline-block;
    margin-left: 0.2em;
    /* add round corners */
    border-radius: 0.3em;
    padding: 0 0.3em;
    border: lightskyblue solid 0.1em;
}

.hamburger li a:hover {
    background-color: #ddeeff;
    /* cursor */
    cursor: pointer;
}

.hamburger li .hamburger-current {
    /* white on nice blue */
    background-color: blue;
    color: white;
}

li.hamburger-separator {
    border-top: 5px solid #ddd;
    height: 0;
    padding: 0;
    margin: 0 2em 0 2em;
}

/* general */

.ellipsis {
    display: inline-block;
    max-width: calc(100% - 1.5em);
    padding-right: 1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.scroll {
    overflow: scroll;
    height: 100%;
}

.pane {
    display: inline-block;
    float: left;
    overflow: scroll;
    height: 100%;
}

.side {
    font-stretch: extra-condensed;
}

.layout {
    display: block;
    float: none;
    margin: 0 0.5em;
}
.layout:after {
    display: block;
    clear: both;
    content: '';
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    padding-left: 2em;
}

#info {
    padding-left: 1em;
}

.pa {
    color: darkgray;
}

ul.term-list {
    padding-left: 2em;
}

ul.term-list li {
    overflow: hidden;
    white-space: nowrap;
}

.bigcontrol {
    width: 13%;
    background-color: lime;
    color: white;
    height: 1.5em;
}

#top {
    padding-top: 0.5em;
}

#bottom {
    padding-bottom: 0.5em;
}

#main {
    height: 20em;
}

.error {
    color: red;
}

.success {
    color: green;
}

.danger {
    color: orangered;
}

h1 {
    margin: 0;
    padding: 05.em;
    text-align: center;
    color: maroon;
}

h1 img {
    height: 1em;
    margin-bottom: -0.3em;
}

.float-right {
    display: inline-block;
    float: right;
}

.float-left {
    display: inline-block;
    float: left;
}

.help {
    font-family: serif;
    padding: 1px;
}

.help code {
    color: darkgoldenrod;
}

.help p {
    margin: 1ex 0;
}

#intro p {
    margin: 1ex;
}
#intro ul {
    margin: 1ex;
}


.note code {
    font-family: inherit;
    font-style: italic;
    color: indigo;
    white-space: nowrap;
}

.big {
    font-size: 2em;
}

.content-table a {
    display: block;
    text-decoration: inherit;
    color: #444444;
    padding: 0.3em;
    border: 1px dotted #444444;
    border-radius: 0.3em;
}

.content-table a:hover {
    background-color: #f0f0f0;
}

.content-table a~a {
    margin-top: 0.2em;
}

.completion{
    background-color: lightgreen;
    border-radius: 0.2em;
}

.control {
    /* display: inline-block; */
    /* border: 1px solid cornflowerblue; */
    border-radius: 0.5em;
    padding: -0.1em 0.7em;
    margin: 0.1em 0.3em;
    color: cornflowerblue;
    /* background-color: white; */
}

.control:hover {
    cursor: pointer;
    background-color: lightyellow;
}

sub {
    font-size: 0.5em;
}

sup {
    font-size: 0.5em;
}

.comment {
    color: grey;
    font-style: italic;
}
