/* ski-specific */

.term-list {
    margin: .5ex;
}

.term-list > div {
    line-height: 1rem;
    margin-bottom: -0.15rem;
}

.term-list dt, dd {
    margin: 0;
    display: inline;
    font-family: monospace;
}
.term-list dd::before {
    content: ' ';
    font-family: monospace;
}
.term-list dt {
    font-weight: bold;
}
.term-list .note, .term-list dd i {
    font-family: serif;
    font-weight: normal;
    font-size: 1rem;
    line-height: 0;
}

.term-list var {
  font-style: normal;
  font-weight: normal;
}

.term-list a.term-def[href] {
    color: inherit;
    text-decoration: inherit;
}

.term-list a.term-def[href]:hover {
    outline: auto rgba(0, 150, 255, 1);
    outline-offset: 1px;
}

.hint {
    cursor: pointer;
}

.bracket {
    opacity: 30%;
}

.outline {
    border: solid 1px #ccc;
    margin: 1px;
    padding: 1px;
    border-radius: 5px;
    display: inline-block;
}

.outline .bracket {
    /* outline kind of duplicates parentheses, so hide them from view but retain in copied text */
    font-size: 0;
}

li:has(.outline) ~ li:has(.outline) {
    /* space lines when in outline mode */
    margin-top: 3px;
}

.outline:not(:has(.outline:hover)):hover {
    /* hover over outline highlights the smallest part of expression containing the pointer */
    border: solid 1px black;
}

/* teletype */

#teletype {
    font-family: monospace;
    color: #363636;
    overflow-wrap: break-word;
}

.line-number {
    color: #999;
    padding-right: 1em;
    text-align: right;
    display: inline-block;
    width: 2em;
}

.con-permalink {
    padding-right: 1em;
}

.con-header {
    background-color: lightgray;
}

#teletype > div {
    border: 1px dotted #C8C8C8 !important;
    padding: 1px;
    margin-top: .5em;
}
#teletype > div ~ div {
    margin-top: -1px;
}

tt.icon-run {
    color: darkGreen;
    padding: 0 calc(1ch - 1.5px) 2px calc(1ch + .5px);
    margin-left: -3.5px;
    margin-right: -2px;
    vertical-align: .5px;
    border-radius: 3px;
    outline: 1px solid lightblue;
    outline-offset: -1.5px;
}

code {
    background: #848E981D;
    padding: 0 1px;
    margin: 0 -1px;
    border-radius: .5ex;
    line-height: calc(1lh + .5px);
}

code > code {
    background: none;
    margin: 0;
    padding: 0;
    border: none;
    line-height: normal;
    font-family: serif;
    font-size: 0.99rem;
}

/* hamburger menu */

.hamburger-button {
    display: inline-block;
}
.hamburger-button:hover {
    cursor: pointer;
    font-weight: bold;
}

ul.hamburger {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 100;
}

ul.hamburger-right {
    right: 1px;
}

.hamburger li {
    display: block;
    padding: 0.3em;
}

.hamburger li a {
    text-decoration: none;
    color: black;
}

.hamburger li a.hamburger-choice {
    display: inline-block;
    margin-left: 0.2em;
    /* add round corners */
    border-radius: 0.3em;
    padding: 0 0.3em;
    border: lightskyblue solid 0.1em;
}

.hamburger li a:hover {
    background-color: #ddeeff;
    /* cursor */
    cursor: pointer;
}

.hamburger li .hamburger-current {
    /* white on nice blue */
    background-color: blue;
    color: white;
}

li.hamburger-separator {
    border-top: 5px solid #ddd;
    height: 0;
    padding: 0;
    margin: 0 2em 0 2em;
}

/* general */

.ellipsis {
    display: inline-block;
    max-width: calc(100% - 1.5em);
    padding-right: 1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.scroll {
    overflow: scroll;
    height: 100%;
}

.pane {
    display: inline-block;
    float: left;
    overflow: scroll;
    height: 100%;
}

.side {
    font-stretch: extra-condensed;
}

.layout {
    display: block;
    float: none;
    margin: 0 0.5em;
}
.layout:after {
    display: block;
    clear: both;
    content: '';
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    padding-left: 2em;
}

#info {
    padding-left: 1em;
}

.pa {
    color: darkgray;
}

ul.term-list {
    padding-left: 2em;
}

ul.term-list li {
    overflow: hidden;
    white-space: nowrap;
}

.bigcontrol {
    width: 13%;
    background-color: lime;
    color: white;
    height: 1.5em;
}

#top {
    padding-top: 0.5em;
}

#bottom {
    padding-bottom: 0.5em;
}

#main {
    height: 20em;
}

.ski-eval-box {
    font-family: monospace;
    overflow-wrap: break-word;
}

.ski-eval-line {

}

.ski-eval-error {
    color: red;
}

.ski-eval-success {
    color: green;
}

.danger {
    color: orangered;
}

h1 {
    margin: 0;
    padding: 05.em;
    text-align: center;
    color: maroon;
}

h1 img {
    height: 1em;
    margin-bottom: -0.25em;
}

.float-right {
    display: inline-block;
    float: right;
}

.float-left {
    display: inline-block;
    float: left;
}

.help {
    font-family: serif;
    padding: 1px;
}

.help code {
    color: darkgoldenrod;
}

.help p {
    margin: 1ex 0;
}

#intro p {
    margin: 1ex;
}
#intro ul {
    margin: 1ex;
}

/* history */

.history-main {
    background-color: lightgray;
    padding: 0 4px 4px 4px;
}

.history-title {
    font-weight: bold;
    padding: 0 2em;
    text-align: center;
}

.history-list {
    background-color: white;
    font-family: monospace;
    margin: 0;
    padding: 0.2em;
}

.history-item {
    margin: 0.2em;
}

.history-item:hover {
    background: #F3F3F3;
    cursor: pointer;
}

.note code {
    font-family: inherit;
    font-style: italic;
    color: indigo;
    white-space: nowrap;
}

.big {
    font-size: 2em;
}

.control {
    /* display: inline-block; */
    /* border: 1px solid cornflowerblue; */
    border-radius: 0.5em;
    padding: -0.1em 0.7em;
    margin: 0.1em 0.3em;
    color: cornflowerblue;
    /* background-color: white; */
}

.control:hover {
    cursor: pointer;
    background-color: lightyellow;
}

sub {
    font-size: 0.5em;
}

sup {
    font-size: 0.5em;
}

.comment {
    color: grey;
    font-style: italic;
}
