.flex {
    display: inline-block;
    float: left;
    border: solid red 1px;
}

.rightmost {
    display: inline-block;
    float: right;
}

#teletype {
    font-family: monospace;
    color: #363636;
    overflow-wrap: break-word;
}

.scroll {
    overflow: scroll;
    height: 100%;
}

.pane {
    display: inline-block;
    float: left;
    overflow: scroll;
    height: 100%;
}

.side {
    font-stretch: extra-condensed;
}

.layout {
    display: block;
    float: none;
    margin: 0 0.5em;
}
.layout:after {
    display: block;
    clear: both;
    content: '';
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    padding-left: 2em;
}

#info {
    padding-left: 1em;
}

.pa {
    color: darkgray;
}

#known {
    padding-left: 2em;
}

#known li {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.bigcontrol {
    width: 13%;
    background-color: lime;
    color: white;
    height: 1.5em;
}

button input {
    display: inline-block;
    padding: 0;
    margin: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;

}

#top {
    padding-top: 0.5em;
}

#bottom {
    padding-bottom: 0.5em;
}

#main {
    height: 20em;
}

.clickable {
    text-decoration: none;
    color: inherit;
}

.con-header {
    background-color: lightgray;
}

.error {
    color: red;
}

.success {
    color: green;
}

.hidden {
    display: none;
}

.mode-pick {
    color: dodgerblue;
}

.quest-box {
    margin: 0.5em;
    border: 0.3em solid maroon;
    padding: 0.2em;
    border-radius: 0.5em;
}

h1 {
    margin: 0;
    padding: 05.em;
    text-align: center;
    color: maroon;
}

h1 img {
    height: 1em;
    margin-bottom: -0.3em;
}

.float-right {
    display: inline-block;
    float: right;
}

.help {
    font-family: serif;

}

.help code {
    color: darkgoldenrod;
}

.chapter {
    border: maroon solid 0.3em;
    border-radius: 0.5em;
    background-color: antiquewhite;
}

.chapter ~ .chapter {
    margin-top: 1em;
}

.chapter .title {
    background-color: maroon;
    color: gold;
    padding: 0.3em;
    font-weight: bold;
    font-size: large;
}

.chapter .note {
    padding-left: 2em;
    background-color: antiquewhite;
}

.hint {
    cursor: pointer;
}

.block-header {
    background-color: burlywood;
    color: maroon;
    padding: 0 0.5em;
    border-radius: 0.5em;
    font-weight: bold;
}

.block-header .success {
    color: darkgreen;
    font-stretch: condensed;
}

.chapter .note code {
    font-family: inherit;
    font-style: italic;
    color: indigo;
}
