/* quest-specific */

.ski-quest-box {
    margin: 0.5em;
    border: 0.3em solid maroon;
    padding: 0.2em;
    border-radius: 0.5em;
}
.ski-quest-chapter {
    border: maroon solid 0.3em;
    border-radius: 0.5em;
    background-color: antiquewhite;
}

.ski-quest-chapter ~ .ski-quest-chapter {
    margin-top: 1em;
}

.ski-quest-chapter h2 {
    background-color: maroon;
    color: palegoldenrod;
    font-weight: bold;
    font-size: large;
    padding: 0.3em;
    margin: 0;
}

.ski-quest-chapter h3 {
    background-color: maroon;
    color: palegoldenrod;
    font-weight: bold;
    font-size: medium;
    margin: 0;
    /* wider but not higher */
    padding: 0.1em 1em;
    border-radius: 0.7em;
}

.ski-quest-chapter h3 a {
    color: inherit;
    text-decoration: inherit;
}

.ski-quest-chapter .ski-quest-note {
    margin: 1ex;
}

.ski-quest-chapter code {
    font-family: inherit;
    font-style: italic;
    color: indigo;
    white-space: nowrap;
}

.ski-quest-box .ski-quest-note {
    border: 1px solid goldenrod;
    border-radius: 0.5em;
    padding: 0 0.5em;
    margin: 1ex 0;
}
.ski-quest-box textarea {
    width: 80%;
    field-sizing: content;
    min-width: 10em;
    min-height: 1em;
}
.ski-quest-box input[type="text"] {
    width: 80%;
    font-family: monospace;
}
.ski-quest-box .ski-quest-label {
    font-size: small;
}

.console {
    color: black;
    background-color: lightgray;
    border: 1px solid black;
}

.ski-quest-inventory h3 {
    color: maroon;
    font-weight: bold;
    text-align: center;
    margin: 0.2em;
}

.ski-quest-float-right {
    display: inline-block;
    float: right;
}

.ski-quest-error {
    color: red;
}

.ski-quest-success {
    color: green;
}

.ski-quest-hint {
    cursor: pointer;
}

.ski-quest-completion {
    background-color: lightgreen;
    border-radius: 0.2em;
}

.ski-quest-control {
    /* display: inline-block; */
    /* border: 1px solid cornflowerblue; */
    border-radius: 0.5em;
    padding: -0.1em 0.7em;
    margin: 0.1em 0.3em;
    color: cornflowerblue;
    /* background-color: white; */
}

.ski-quest-control:hover {
    cursor: pointer;
    background-color: lightyellow;
}

.ski-quest-comment {
    color: grey;
    font-style: italic;
}

/* TODO rename to ski-quest-* */
.content-table a {
    display: block;
    text-decoration: inherit;
    color: #444444;
    padding: 0.3em;
    border: 1px dotted #444444;
    border-radius: 0.3em;
}

.content-table a:hover {
    background-color: #f0f0f0;
}

.content-table a~a {
    margin-top: 0.2em;
}
