/* quest-specific */

.quest-box {
    margin: 0.5em;
    border: 0.3em solid maroon;
    padding: 0.2em;
    border-radius: 0.5em;
}
.chapter {
    border: maroon solid 0.3em;
    border-radius: 0.5em;
    background-color: antiquewhite;
}

.chapter ~ .chapter {
    margin-top: 1em;
}

.chapter h2 {
    background-color: maroon;
    color: palegoldenrod;
    font-weight: bold;
    font-size: large;
    padding: 0.3em;
    margin: 0;
}

.chapter h3 {
    background-color: maroon;
    color: palegoldenrod;
    font-weight: bold;
    font-size: medium;
    margin: 0;
    /* wider but not higher */
    padding: 0.1em 1em;
    border-radius: 0.7em;
}

.chapter h3 a {
    color: inherit;
    text-decoration: inherit;
}

.chapter .note {
    margin: 1ex;
}

.chapter code {
    font-family: inherit;
    font-style: italic;
    color: indigo;
    white-space: nowrap;
}

.quest-box .note {
    border: 1px solid goldenrod;
    border-radius: 0.5em;
    padding: 0 0.5em;
    margin: 1ex 0;
}
.quest-box textarea {
    width: 80%;
    field-sizing: content;
    min-width: 10em;
    min-height: 1em;
}
.quest-box .label {
    font-size: small;
}

.console {
    color: black;
    background-color: lightgray;
    border: 1px solid black;
}

.quest-inventory h3 {
    color: maroon;
    font-weight: bold;
    text-align: center;
    margin: 0.2em;
}
